/*============================================================================
	The Core Elements: 20 / 30
  ============================================================================*/

.navbar {
	margin-bottom: 20px;
}

/*============================================================================
	The Core Elements: Grid
  ============================================================================*/

.row {
	margin-bottom: 20px;
	margin-left: -20px;
}

[class*="span"] {
	float: left;
	position: relative;
	margin-left: 20px;
	min-height: 1px;
	width: 100%;
}

.container {
	width: 100%;
}

.container,
.span12 {
	max-width: 940px;
}

.span11 {
	max-width: 860px;
}

.span10 {
	max-width: 780px;
}

.span9 {
	max-width: 700px;
}

.span8 {
	max-width: 620px;
}

.span7 {
	max-width: 540px;
}

.span6 {
	max-width: 460px;
}

.span5 {
	max-width: 380px;
}

.span4 {
	max-width: 300px;
}

.span3 {
	max-width: 220px;
}

.span2 {
	max-width: 140px;
}

.span1 {
	max-width: 60px;
}

.offset12 {
	margin-left: 980px;
}

.offset11 {
	margin-left: 900px;
}

.offset10 {
	margin-left: 820px;
}

.offset9 {
	margin-left: 740px;
}

.offset8 {
	margin-left: 660px;
}

.offset7 {
	margin-left: 580px;
}

.offset6 {
	margin-left: 500px;
}

.offset5 {
	margin-left: 420px;
}

.offset4 {
	margin-left: 340px;
}

.offset3 {
	margin-left: 260px;
}

.offset2 {
	margin-left: 180px;
}

.offset1 {
	margin-left: 100px;
}

/*============================================================================
	The Core Elements: Typography
  ============================================================================*/

.allcaps {
	text-transform: uppercase;
}

.underline {
	text-decoration: underline;
}

.text-light {
	color: #999;
}

.text-dark {
	color: #222;
}

.text-bold {
	font-weight: bold;
}

.text-smooth {
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
}

.text-nobold,
.text-nobold h1,
.text-nobold h2,
.text-nobold h3,
.text-nobold h4,
.text-nobold h5,
.text-nobold h6 {
	font-weight: normal;
}

.text-thin,
.text-thin h1,
.text-thin h2,
.text-thin h3,
.text-thin h4,
.text-thin h5,
.text-thin h6 {
	font-weight: 300;
}

.dropcap {
	float: left; 
	font-size: 2.285em; 
	line-height: 1em;
	padding: 2px 10px 0px 0;
}

/*============================================================================
	The Core Elements: Spacing & Structure
  ============================================================================*/

.relative {
	position: relative;
}

.absolute {
	position: absolute;
}

.fixed {
	position: fixed;
}

.mgb0 {
	margin-bottom: 0px;	
}

.mgb5 {
	margin-bottom: 5px;
}

.mgb10 {
	margin-bottom: 10px;
}

.mgb15 {
	margin-bottom: 15px;
}

.mgb20 {
	margin-bottom: 20px;
}

.mgb30 {
	margin-bottom: 30px;
}

/*============================================================================
	The Core Elements: Helpers
  ============================================================================*/

.transition {
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

.rounded {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.circle {
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	border-radius: 500px;
}

.no-overflow {
	overflow: hidden;
}

.shadow-drop {
	-webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.shadow-flat {
	-webkit-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
	box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.25);
}

hr.blank {
	border-color: transparent;
}

/*============================================================================
	The Core Elements: Images
  ============================================================================*/

.canvas {
	border: 1px solid #eee;
	padding: 10px;
}

/*============================================================================
	The Core Elements: Content
  ============================================================================*/

ul.nostyle,
ol.nostyle {
	list-style: none;
}

.article {
	font-size: 1.14em;
	line-height: 1.5em;
}

blockquote {
	font-weight: 300;
}

.lead {
	font-size: 1.714em;
	font-weight: 300;
	line-height: 1.25em;
}

/*============================================================================
	The Core Elements: Buttons
  ============================================================================*/

input[type="button"],
input[type="reset"],
input[type="submit"] {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	background: #333;
	border-radius: 3px;
	border: none;
	color: #FFF;
	padding: 10px 20px;
	display: inline-block;
}

/*============================================================================
	The Core Elements: Navigation
  ============================================================================*/
.navbar {
	*position: relative;
	*z-index: 2;
	overflow: visible;
}

.navbar .container {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #fafafa;
	border: 1px solid #d4d4d4;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff2f2f2', GradientType=0);
	width: auto;
	*zoom: 1;
}

.navbar-inner:before,
.navbar-inner:after {
	display: table;
	line-height: 0;
	content: "";
}

.navbar-inner:after {
	clear: both;
}

.nav-collapse.collapse {
	height: auto;
	overflow: visible;
}

.navbar .brand {
	display: block;
	float: left;
	padding: 10px 20px 10px;
	margin-left: -20px;
	font-size: 20px;
	font-weight: 200;
	color: #777777;
	text-shadow: 0 1px 0 #ffffff;
}

.navbar .brand:hover,
.navbar .brand:focus {
	text-decoration: none;
}

.navbar-text {
	margin-bottom: 0;
	line-height: 40px;
	color: #777777;
}

.navbar-link {
	color: #777777;
}

.navbar-link:hover,
.navbar-link:focus {
	color: #333333;
}
